@name: product-card;

.@{name} {
  padding: 0 0.75rem;
  font-size: 0.8125rem;
  background: @white;
  transition: @transition-base;

  &:hover {
    box-shadow: 0 0 0.5rem #ccc;
  }

  &-header {
    padding: 0.5rem 0 0;
    overflow: hidden;

    &-title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      min-height: 3.5625rem;
    }

    img {
      cursor: pointer;
      border-radius: @border-radius-base;
      transition: @transition-base;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    border-top: 1px solid #f8f8f8;

    &-main {
      flex: 1;
    }

    svg {
      cursor: pointer;
      margin: 0 0.25rem;
      transition: @transition-base;

      &:hover {
        fill: @primary-color;
      }
    }
  }
}
